.hiddenHome{
    display:none;
    visibility:hidden;
    margin-left:auto;
    margin-right:auto;
    width:55%;
}

.hiddenResume{
    display:none;
    visibility:hidden;
    margin-left:auto;
    margin-right:auto;
    width:55%;
}
.hiddenPorfolio{
    display:none;
    visibility:hidden;
        margin-left:auto;
    margin-right:auto;
    width:55%;
}
.hiddenClasses{
    display:none;
    visibility:hidden;
       
    
}
.hiddenContact{
    display:none;
    visibility:hidden;
    margin-left:auto;
    margin-right:auto;
    width:55%;
}
.shownHome{
    display:flex;
    
    visibility:visible;
    margin-left:auto;
    margin-right:auto;
    width:55%;
    
}
#aboutMeDiv{
 margin-left: 24em;   
    
}
#aboutMeDiv p{
 font-size:18px;   
    
}

.shownResume{
    display:block;
    visibility:visible;
    margin-left:auto;
    margin-right:auto;
    width:55%;
}
.shownPortfolio{
   display:block;
    visibility:visible;
    margin-left:auto;
    margin-right:auto;
    width:55%;
}
.shownClasses{
     
    visibility:visible;
    
    display:block;
    
    visibility:visible;
    margin-left:auto;
    margin-right:auto;
    width:55%;
}
.shownContact{
    display:block;
    visibility:visible;
    margin-left:auto;
    margin-right:auto;
    width:55%;
}
#mePic{
    
    left:0px;
    width:300px;
    
}
#pdf {
	width: 900px;
	height: 800px;
	margin: 2em auto;
}
#pdf p {
   padding: 1em;
}

#pdf object {
   display: block;
   border: solid 1px #666;
}
#pleaseNoteP{
   font-size:.8em;
    
}
.link:hover{
    color:blue;
}
p{
 text-indent: 50px;   
}
img{
    width:44%;
    height: auto;
}
      